<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="WOW_GAMES" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=WOW_GAMES;Data Source=."/>
  </connectionStrings>
  <appSettings>
    <add key="RixtyApi" value="https://sandbox.rixty.com/rixtyapi/nvp"></add>
    <!--
    API DE PROD
    <add key="RixtyApi" value="https://partner.rixty.com/rixtyapi/nvp"></add>
    -->

    <!--<add key="RixtySignature" value="9EX67F6JHGNRKGJAJGDHGT9C6CCG6EGF"/>
    <add key="RixtyToken" value="GLDRG2HXEXCQQ7KCHG4NTTXQNEFAECME"/>-->


    <add key="RixtySignature" value="GLDRG2HXEXCQQ7KCHG4NTTXQNEFAECME"/>
    <add key="RixtyToken" value="GLDRG2HXEXCQQ7KCHG4NTTXQNEFAECME"/>
    
    <add key="RixtyPurchaseConfirmationUrl" value="https://api.mol.com/pinstore/purchaseconfirmation"/>
    <add key="RixtyGoldApiVersion" value="v1"/>
    <add key="RixtySecret" value="efcv2284"/>
    <add key="RixtyAppCode" value="201905020414"/>

     <!--Dados para consumo da API AQUI PAGA PRD-->
    <add key="AquiPagaApi" value="https://parceiros.aquipaga.com.br:5211"></add>
    <add key="AquiPagaUser" value="apiwow"/>
    <add key="AquiPagaPassword" value="123456"/>
    <add key="AquiPagaTerminal" value="E5FCF5CF-E4F2-4CE2-8021-E77C385D7121"/>

    <!--<add key="AquiPagaApi" value="https://parceirosdev.aquipaga.com.br:5108"></add>
    <add key="AquiPagaUser" value="wowsolution"/>
    <add key="AquiPagaPassword" value="123456"/>
    <add key="AquiPagaTerminal" value="E5FCF5CF-E4F2-4CE2-8021-E77C385D7121"/>-->
  </appSettings>
</configuration>